.title {
    font-size: 2.7rem;
    font-weight: bold;
    margin: 5% 0 2rem 10%;
}

.body-section {
    display: flex;
    gap: 2rem;
    margin: 5% 5% 0 10%;
    border-bottom: 0.5px solid gray;
}

.body-section .left {
    flex: 2;
}

.body-section .right {
    flex: 3;
}

.section-title {
    font-size: 2rem;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 1rem;
}

.experience-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    gap: 1rem;
}

.experience-item .date {
    flex: 1;
}

.experience-item .details {
    flex: 4;
}

.experience-item h3 {
    font-size: 1.25rem;
    font-weight: bold;
    margin-top: 0;
}

.experience-item p {
    margin: 0;
}

.experience-item ul {
    padding: 0;
}

@media (max-width: 700px) {
    .body-section {
        flex-direction: column;
        gap: 1rem;
    }

    .experience-item {
        flex-direction: column;
    }

    .experience-item .date {
        margin-bottom: 0.5rem;
    }
}