.footer {
    display: flex;
    justify-content: space-between;
    background-color: #f7fafc;
    padding: 2rem; /* Combines padding properties */
    align-items: center;
    font-family: 'Courier New', monospace;
    gap: 1.5rem;
    border-top: 0.5px solid gray
}

.footer > div {
    flex: 1;
    margin-bottom: 1rem;
    width: 300px;
}

.footer h2 {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
    font-family: 'Trebuchet MS', sans-serif;
}

.footer p {
    margin: 0;
}

.footer .social-icons {
    display: flex;
    gap: 1rem;
}

.footer .social-icons a {
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
}

@media (max-width: 700px) {
    .footer {
        flex-direction: column;
        align-items: normal;
    }

    .footer div {
        margin-bottom: 0;
    }
}