.footer {
    display: flex;
    flex-direction: row;
    background-color: #f7fafc;
    padding: 2rem 0;
    flex-wrap: nowrap;
    align-items: center;
    font-family: 'Courier New', monospace;
    gap: 1.5rem;
    margin-bottom: 1rem;
    margin-left: 3%;
    margin-right: 3%;
    border-top: 0.5px solid gray
}

.footer > div {
    flex: 1;
    margin-bottom: 1rem;
    width: 300px;
}

.footer h2 {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    font-family: 'Trebuchet MS', sans-serif;
}

.footer p {
    margin: 0;
}

.footer .social-icons {
    display: flex;
    gap: 1rem;
}

.footer .social-icons a {
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
}

@media (max-width: 600px) {
    .footer {
        flex-direction: column;
    }

    .footer div {
        margin-bottom: 0;
    }
}