.footer {
    background-color: #f7fafc;
    padding: 2rem 0;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-family: 'Courier New', monospace;
}

.footer .elements {
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    margin-bottom: 1rem;
    margin-left: 3%;
    margin-right: 3%;
}

.footer hr {
    width: 94%;
    border: 0.5px solid gray;
}

.footer div {
    flex: 1;
    margin-bottom: 1rem;
}

.footer h2 {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    font-family: 'Trebuchet MS', sans-serif;
}

.footer p {
    margin: 0;
}

.footer .social-icons {
    display: flex;
    gap: 1rem;
}

.footer .social-icons a {
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
}

@media (min-width: 768px) {
    .footer {
        text-align: left;
    }

    .footer div {
        margin-bottom: 0;
    }
}