* {
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
}

.profile-info {
    display: flex;
    align-items: center;
}

.profile-info .dot {
    width: 1rem;
    height: 1rem;
    background-color: #fbbf24;
    border-radius: 50%;
    margin-right: 0.5rem;
}

.profile-info .name {
    font-weight: bold;
    font-size: 1.125rem;
}

.profile-info .role {
    margin-left: 0.5rem;
    color: #6b7280;
}

nav {
    display: flex;
}

.nav-link {
    color: 6b7280;
    position: relative;
}

.nav-link:not(:last-child)::after {
    content: "";
    position: absolute;
    right: -12px;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 120%;
    background-color: black;
}

nav a {
    color: #4b5563;
    margin-left: 1.5rem;
    text-decoration: none;
    transition: 0.3s;
}

nav a:hover {
    color: black;
    transform: scale(1.1);
    transition: 0.3s;
}

.nav-link.active {
    color: #ffc45c;
}

header ul {
    list-style: none;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header ul a {
    color: black;
    text-decoration: none;
}

#hamburger-icon {
    margin: auto 0;
    display: none;
    cursor: pointer;
}

#hamburger-icon div {
    width: 35px;
    height: 3px;
    background-color: black;
    margin: 6px 0;
    transition: 0.4s;
}

.open .bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
    opacity: 0;
}

.open .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -8px);
    transform: rotate(45deg) translate(-6px, -8px);
}

.open .mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.mobile-menu {
    display: none;
    position: absolute;
    background-color: white;
    top: 50px;
    left: 0;
    height: calc(100vh - 50px);
    width: 100%;
}

.mobile-menu li {
    margin-bottom: 10px;
}

@media (max-width: 700px) {
    nav {
        display: none;
    }

    #hamburger-icon {
        display: block;
    }
}