header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
    ;
}

.profile-info {
    display: flex;
    align-items: center;
}

.profile-info .dot {
    width: 1rem;
    height: 1rem;
    background-color: #fbbf24;
    border-radius: 50%;
    margin-right: 0.5rem;
}

.profile-info .name {
    font-weight: bold;
    font-size: 1.125rem;
}

.profile-info .role {
    margin-left: 0.5rem;
    color: #6b7280;
}

nav {
    display: flex;
}

.nav-link {
    color: 6b7280;
    position: relative;
}

.nav-link:not(:last-child)::after {
    content: "";
    position: absolute;
    right: -12px;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 120%;
    background-color: black;
}

nav a {
    color: #4b5563;
    margin-left: 1.5rem;
    text-decoration: none;
    transition: 0.3s;
}

nav a:hover {
    color: black;
}

.nav-link.active {
    color: #ffc45c;
}