/* Import Google Font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    background-color: #f7fafc;
    margin: 0;
    padding: 0;
}

.home {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    /* Space between columns */
    padding: 40px;
    max-width: 900px;
    margin: auto;
    margin-top: 5rem;
}

.content {
    /* transform: translateY(0); */
    opacity: 1;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.fade-out {
    opacity: 0;
    /* transform: translateY(-20px); */
}

.left {
    flex: 50%;
    justify-content: center;
}

.right {
    flex: 50%;
    text-align: left;
    margin-left: 1.5rem;
}

.profile-pic {
    width: 480px;
    height: 480px;
    border-radius: 50%;
    overflow: hidden;
}

.profile-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-text {
    text-align: left;
}

.profile-text h1 {
    font-size: 100px;
    font-weight: bold;
    margin: 0%;
    font-family: 'Trebuchet MS', sans-serif;
}

.profile-text h2 {
    font-size: 1.25rem;
    font-weight: 600;
    font-family: 'Trebuchet MS', sans-serif;
}

.profile-text p {
    color: #4b5563;
    margin-top: 0.5rem;
    max-width: 28rem;
    margin-left: auto;
    margin-right: auto;
}

.buttons {
    display: flex;
    gap: 1.5rem;
    margin-top: 2rem;
    font-family: 'Trebuchet MS', sans-serif;
}

.buttons a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    color: black;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    border: solid black;
    font-size: 1.3rem;
}

.buttons .resume {
    background-color: #fbbf24;
}

.buttons .projects {
    background-color: #f87171;
}

.buttons .contact {
    background-color: #14b8a6;
}