.title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 2rem;
    margin-left: 10%;
    margin-top: 5%;
}

.resume-content {
    display: flex;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 5%;
}

.resume-content .left {
    flex: 40%;
}

.resume-content .right {
    flex: 60%;
}

.section-title {
    font-size: 2rem;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 1rem;
}

.experience {
    margin-bottom: 2rem;
}

.experience-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.experience-item div {
    margin-bottom: 0.5rem;
}

.experience-item h3 {
    margin-top: 0;
    font-size: 1.25rem;
    font-weight: bold;
}

.experience-item p {
    margin: 0;
}

.resume hr {
    width: 94%;
    border: 0.5px solid gray;
}

@media (min-width: 768px) {
    .experience-item {
        flex-direction: row;
        justify-content: space-between;
    }

    .experience-item .date {
        flex: 20%;
        margin-bottom: 0;
    }

    .experience-item .details {
        flex: 80%;
        margin-left: 1rem;
    }
}