<div id="home" class="home">
    <div class="left">
        <div class="profile-pic">
            <img src="imgs/5883.jpg" alt="Profile Picture" />
        </div>
    </div>
    <div class="right">
        <div class="profile-text">
            <h1>Hello</h1>
            <h2>A Bit About Me</h2>
            <p>I'm a paragraph. Click here to add your own text and edit me. I’m a great place for you to tell a
                story and let your users know a little more about you.</p>
        </div>
        <div class="buttons">
            <a class="resume" onclick="loadContent('views/resumeView.html')">Resume</a>
            <a class="projects" onclick="loadContent('views/projectsView.html')">Projects</a>
            <a class="contact" onclick="loadContent('views/contactView.html')">Contact</a>
        </div>
    </div>
</div>