<div id="projects" class="projects">
    <h1 class="title">Projects</h1>
    <section class="body-section">
        <div class="left">
            <h2 class="section-title">Project 1</h2>
            <p>Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double-click me to
                update the content.</p>
        </div>
        <div class="right">
            <img src="imgs/1.jpg" alt="Project 1" />
        </div>
    </section>
    <section class="body-section">
        <div class="left">
            <h2 class="section-title">Project 2</h2>
            <p>Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double-click me to
                update the content.</p>
        </div>
        <div class="right">
            <img src="imgs/1.jpg" alt="Project 1" />
        </div>
    </section>
    <section class="body-section">
        <div class="left">
            <h2 class="section-title">Project 3</h2>
            <p>Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double-click me to
                update the content.</p>
        </div>
        <div class="right">
            <img src="imgs/1.jpg" alt="Project 1" />
        </div>
    </section>
</div>