<div id="resume" class="resume">
    <h1 class="title">Resume</h1>

    <!-- Work Experience Section -->
    <section class="body-section">
        <div class="left">
            <h2 class="section-title">Work Experience</h2>
        </div>
        <div class="right">
            <div class="experience-item">
                <div class="date">
                    <span>June 2022 – Present</span>
                    <h4>GeoComply</h4>
                </div>
                <div class="details">
                    <h3>IoT Embedded Engineer</h3>
                    <ul>
                        <li>Developed and maintained embedded software for IoT devices.</li>
                        <li>Designed and implemented IoT solutions for smart home automation.</li>
                        <li>Collaborated with cross-functional teams to deliver high-quality products.</li>
                        <li>Developed Linux services on Raspberry Pi 4B using C++14/17, Python, and Bash, enhancing IoT
                            system connectivity and functionality.</li>
                        <li>Streamlined device configuration via mobile applications, simplifying deployment for
                            approximate 2,000
                            production devices. </li>
                        <li>Facilitated a smooth transition from legacy features to new functionalities, ensuring
                            seamless integration.
                        </li>
                        <li>Managed system interfaces, peripherals, Bluetooth communication, interprocess communication,
                            networking, and logging.
                        </li>
                        <li>Designed and implemented real-time data collection mechanisms to transmit data efficiently
                            to server-side applications.
                        </li>
                        <li>Developed firmware for Bluetooth and Ultra-Wideband modules on a motherboard using C,
                            supporting next-generation business case studies.
                        </li>
                        <li>Collaborated with cross-functional teams to design and deploy advanced indoor tracking
                            solutions.
                        </li>
                        <li>Researched and implemented OTA update mechanisms to ensure secure and efficient software
                            updates.
                        </li>
                        <li>Integrated automated testing, including unit and integration tests, improving overall
                            software quality.
                        </li>
                    </ul>
                </div>
            </div>
            <div class="experience-item">
                <div class="date">
                    <span>Aug 2020 – May 2022</span>
                    <h4>Endava</h4>
                </div>
                <div class="details">
                    <h3>Software Engineer</h3>
                    <ul>
                        <li>Researched and contributed to the enhancement of 5G radio technologies within Ericsson
                            Radio Base Station products.
                        </li>
                        <li>Developed and maintained production software for radio products, troubleshooting and
                            optimizing performance.
                        </li>
                        <li>Provided support for hardware bring-up, hardware/software integration, and performance
                            validation.
                        </li>
                        <li>Increased test coverage, ensuring high-quality releases of radio products.
                        </li>
                    </ul>
                </div>
            </div>
            <div class="experience-item">
                <div class="date">
                    <span>Jan 2018 – June 2020</span>
                    <h4>VNG Corporation</h4>
                </div>
                <div class="details">
                    <h3>Software/Firmware Engineer</h3>
                    <ul>
                        <li> Designed and developed firmware for IoT devices using Nordic Semiconductor nRF5x
                            microcontrollers, leveraging C and Zephyr RTOS.
                        </li>
                        <li>Implemented controllers and sensor interfaces for lighting, access control, power control,
                            air conditioning, and parking management.
                        </li>
                        <li>Developed application services on an Embedded Linux gateway for centralized IoT device
                            control.
                        </li>
                        <li>Deployed and monitored approximately 5,000 devices in production, ensuring reliability and
                            stability.
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!-- Education Section -->
    <section class="body-section">
        <div class="left">
            <h2 class="section-title">Education</h2>
        </div>
        <div class="right">
            <div class="experience-item">
                <div class="date">
                    <span>Sep 2013 – Jan 2018</span>
                </div>
                <div class="details">
                    <h3>Bachelor’s Degree in Computer Engineering (Honor Program)</h3>
                    <p>GPA: 7.67/10</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Skills & Expertise Section -->
    <section class="body-section" style="border-bottom: none;">
        <div class="left">
            <h2 class="section-title">Skills & Expertise</h2>
        </div>
        <div class="right">
            <div class="experience-item">
                <div class="date">
                    <ul>
                        <li>Programming: Modern C++, C, Python, Bash.
                        </li>
                        <li>Testing Frameworks: Google Test, Unity.
                        </li>
                        <li>Embedded Hardware: Raspberry Pi 4B (Cortex-A72), nRF5x, QN9090 (Cortex-M4).
                        </li>
                        <li>Communication Protocols: BLE, Ultra-Wideband, I2C, UART, HTTP/HTTPS.
                        </li>
                        <li>Tools & CI/CD: GitHub, Gerrit, CI (Jenkins, GitHub Actions), Visual Studio Code, GDB, Segger
                            J-Link, Valgrind.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</div>