<div>
    <h1 class="title">Resume</h1>
    <div class="resume-content">
        <div class="left">
            <h2 class="section-title">Work Experience</h2>
        </div>
        <div class="right">
            <div class="experience">
                <div class="experience-item">
                    <div class="date">2035 - Present</div>
                    <div class="details">
                        <h3>Editor</h3>
                        <p>Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or
                            double-click me to update the content.</p>
                    </div>
                </div>
                <div class="experience-item">
                    <div class="date">2035 - 2035</div>
                    <div class="details">
                        <h3>Writer at Large</h3>
                        <p>Click here to add your own text and edit me. Just click “Edit Text” or double-click me to
                            update the content.</p>
                    </div>
                </div>
                <div class="experience-item">
                    <div class="date">2035 - 2035</div>
                    <div class="details">
                        <h3>Intern</h3>
                        <p>Click here to add your own text and edit me. Just click “Edit Text” or double-click me to
                            update the content.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
</div>