<div id="resume" class="resume">
    <h1 class="title">Resume</h1>

    <!-- Work Experience Section -->
    <section class="body-section">
        <div class="left">
            <h2 class="section-title">Work Experience</h2>
        </div>
        <div class="right">
            <div class="experience-item">
                <span class="date">2035 - Present</span>
                <div class="details">
                    <h3>Editor</h3>
                    <p>Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or
                        double-click me to update the content.</p>
                </div>
            </div>
            <div class="experience-item">
                <span class="date">2035 - 2035</span>
                <div class="details">
                    <h3>Writer at Large</h3>
                    <p>Click here to add your own text and edit me. Just click “Edit Text” or double-click me to
                        update the content.</p>
                </div>
            </div>
            <div class="experience-item">
                <span class="date">2035 - 2035</span>
                <div class="details">
                    <h3>Intern</h3>
                    <p>Click here to add your own text and edit me. Just click “Edit Text” or double-click me to
                        update the content.</p>
                </div>
            </div>
        </div>
    </section>

    <hr>

    <!-- Education Section -->
    <section class="body-section">
        <div class="left">
            <h2 class="section-title">Education</h2>
        </div>
        <div class="right">
            <div class="experience-item">
                <span class="date">2013 - 2018</span>
                <div class="details">
                    <h3>Master in Fine Arts</h3>
                    <p>Click here to add your own text and edit me. Just click “Edit Text” or double-click me to
                        update the content.</p>
                </div>
            </div>
        </div>
    </section>

    <hr>

    <!-- Skills & Expertise Section -->
    <section class="body-section">
        <div class="left">
            <h2 class="section-title">Skills & Expertise</h2>
        </div>
        <div class="right">
            <div class="experience-item">
                <div class="date"></div>
                <div class="details">
                    <ul>
                        <li>Content Editing & Proofreading</li>
                        <li>Creative & Technical Writing</li>
                        <li>Publishing & Editorial Management</li>
                        <li>SEO & Digital Marketing</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</div>